BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
ContinuationIndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 88
BreakBeforeBraces: Attach
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: DontAlign
BinPackArguments: true
BinPackParameters: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
InsertBraces: true
SortIncludes: Never
IncludeBlocks: Preserve
FixNamespaceComments: false
IndentPPDirectives: None
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: DontAlign
